%h2 #{@job.unique_key}

%p
  %a{:title => "Edit", :href => "/jobs/edit/#{@job.unique_key}"} Edit Job

%label Function Name:
%div{:class => "meta"}#{@job.function_name}
%p
%label Priority:
%div{:class => "meta"}#{@job.priority}
%p
%label Scheduled to run:
%div{:class => 'meta'}#{@job.when_to_run}
%p
%label Data:
%div{:class => 'meta'}
  %pre{:class => "jobdata"} #{@job.data}
